<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://java.sun.com/jsf/html">
<f:view>
    <h:form>
        <h:outputLabel for="login-username" value="Login" />
        <h:inputText id="login-username" value="#{loginModel.login}" />
        <h:outputLabel for="login-password" value="Hasło" />
        <h:inputSecret id="login-password" value="#{loginModel.password}" />

        <p:commandButton value="Login" action="#{loginController.login}" process="@form" />
    </h:form>
</f:view>
</html>
